extends ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 名字
						th 密码
						th 时间
						th 查看
						th 更新
						th 删除
				tbody
					each item in users
						tr(class="item-id-#{item._id}")
							td #{item.name}
							td #{item.password}
							td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
							td: a(traget="_blank",href="../movie/#{item._id}") 查看
							td: a(traget="_blank",href="../admin/update/#{item._id}") 修改 
							td
								buttom.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
	//- script(src="/js/admin.js")		
						
